div{
height: 800px;
width: 800px;
background-color: red;
position: relative;

}

div::after{
    content: ""; 
    height: 800px;
    width: 400px;
    background-color: blueviolet;
    position: absolute;
    
}

div:hover{
    background-color: darkblue;
}
